<section class="todoapp">
  <header class="header">
    <h1>the BIG to-do</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com",
                            target: "_blank", class: 'link-default' %>
  application, built by
  <%= link_to "Benny Paulino", "http://github.com/bennypaulino",
                                target: "_blank", class: 'link-default' %>
</section>

<% content_for :page_js do %>
  <script type="text/javascript">
     <%= raw Uglifier.new.compile(render file: "#{Rails.root}/app/views/static_pages/js/index.erb.js") %>
  </script>
<% end %>